{% extends 'app/base.html' %}

{% block content %}
    <h2>Product Detail</h2>
    <div class="content">
        <div class="product">
            <p>Название продукта:<br> {{ product.name }}</p>
            <p>Стоимость:<br> {{ product.price }}</p>
            <p>Продавец:<br> {{ product.seller }}</p>
            <p>Количество на складе:<br> {{ product.stock_quantity }}</p>
            <p>Категория товара:<br> {{ product.category }}</p>
            <p>Область применения товара:<br> {{ product.application_area }}</p>
            <p>Дата и время появления:<br> {{ product.created_at }}</p>
            <p>Оценка товара:<br> {{ product.rating }}</p>
            <a href="{% url 'product_list' %}"><button type="button">Back</button></a>
        </div>
    </div>
{% endblock %}